DISCORD_TOKEN=

OPENAI_BASE_URL=https://openrouter.ai/api/v1
OPENAI_API_KEY=
OPENROUTER_MANAGEMENT_API_KEY=
OPENAI_MODEL=deepseek/deepseek-v4-flash
OPENAI_TEMPERATURE=1.0
OPENAI_MAX_TOKENS=2048
OPENAI_CONTEXT_MESSAGE_COUNT=10
OPENAI_TOOL_0_TYPE=openrouter:web_search
OPENAI_TOOL_1_TYPE=openrouter:web_fetch
